[Unit]
Description=L3XZ Pan/Tilt Head Service
After=docker.servie
Requires=docker.service

[Service]
ExecStart=head
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=default.target
